<div class="suggestions full-width">
    <div class="sd-title">
        <h3>Activité Récente</h3>
    </div>
    <div class="suggestions-list">
        <div class="suggestion-usd">
            <div class="profile-info">
                <div class="row" style="margin-bottom: 20px;">
                  <div class="col">
                    <p><i class="fas fa-newspaper"></i> Dernière publication:</p>
                    <p>Lorem ipsum dolor sit amet</p>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 20px;">
                  <div class="col">
                    <p><i class="fas fa-comment"></i> Dernier commentaire:</p>
                  </div>
                  <div class="col">
                    <p class="text-right">2024-02-05</p>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                  <div class="col">
                    <p><i class="fas fa-thumbs-up"></i> Dernier like:</p>
                  </div>
                  <div class="col">
                    <p class="text-right">John Doe</p>
                  </div>
                </div>
                <div class="text-center" style="padding-top: 20px;">
                  <a routerLink="/dashboard/profil"> Éditer le profil</a>
                </div>
              </div>
              
        </div>
    </div>
</div>