<section class="cover-sec">
    <img src="assets/images/resources/company-cover.jpg" alt="">
</section>


<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="main-left-sidebar">
                            <div class="user_profile">
                                <div class="user-pro-img">
                                    <img src="assets/images/resources/user-pro-img.png" alt="">
                                </div><!--user-pro-img end-->
                                <div class="user_pro_status">

                                    <ul class="flw-status">
                                        <li>
                                            <span>Following</span>
                                            <b>34</b>
                                        </li>
                                        <li>
                                            <span>Followers</span>
                                            <b>155</b>
                                        </li>
                                    </ul>
                                </div><!--user_pro_status end-->
                                <ul class="social_links">
                                    <li><a href="#" title=""><i class="fa fa-facebook-square"></i> Http://www.facebook.com/john...</a></li>
                                    <li><a href="#" title=""><i class="fa fa-twitter"></i> Http://www.Twitter.com/john...</a></li>
                                    <li><a href="#" title=""><i class="fa fa-instagram"></i> Http://www.instagram.com/john...</a></li>
                                    <li><a href="#" title=""><i class="fa fa-youtube"></i> Http://www.youtube.com/john...</a></li>
                                </ul>
                            </div><!--user_profile end-->
                        </div><!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="main-ws-sec">
                            <div class="user-tab-sec" style="padding-bottom: 20px;">
                                <h3>John Doe</h3>
                                <div class="star-descp">
                                    <span>Graphic Designer at Self Employed</span>
                                </div><!--star-descp end-->

                            </div><!--user-tab-sec end-->

                            <div class="sign_in_sec current" style="padding: 0;">
                                <div class="user-profile-ov">
                                    <h3>Informations Personnelles</h3>
                                    <form>
                                        <div class="row">
                                          <div class="col-lg-12 no-pdd">
                                            <div class="sn-field">
                                              <input type="text" name="name" placeholder="Nom" />
                                              <i class="la la-user"></i>
                                            </div>
                                          </div>
                                          <div class="col-lg-12 no-pdd">
                                            <div class="sn-field">
                                              <input
                                                type="text"
                                                name="name"
                                                placeholder="Prenom"
                                              />
                                              <i class="la la-user"></i>
                                            </div>
                                          </div>
                                          <div class="col-lg-12 no-pdd">
                                            <div class="sn-field">
                                              <input
                                                type="email"
                                                name="email"
                                                placeholder="Email"
                                              />
                                              <i class="la la-envelope"></i>
                                            </div>
                                          </div>
                                          <div class="col-lg-12 no-pdd">
                                            <div class="sn-field">
                                              <input
                                                type="text"
                                                name="description"
                                                placeholder="Description"
                                              />
                                              <i class="la la-dropbox"></i>
                                            </div>
                                          </div>
                                          <div class="col-lg-12 no-pdd">
                                            <div class="sn-field">
                                              <input
                                                type="file"
                                                name="photo"
                                              />
                                              <i class="la la-file"></i>
                                            </div>
                                          </div>
                                          <div class="col-lg-12 no-pdd">
                                            <button type="submit" value="submit">
                                              Modifier
                                            </button>
                                          </div>
                                        </div>
                                      </form>
                                </div>
                            </div><!--product-feed-tab end-->
                        </div><!--main-ws-sec end-->
                    </div>
                    <div class="col-lg-3">
                        <div class="right-sidebar">
                            <div class="widget widget-portfolio">
                                <div class="wd-heady">
                                    <h3>Photos</h3>
                                    <img src="assets/images/photo-icon.png" alt="">
                                </div>
                                <div class="pf-gallery">
                                    <ul>
                                        <li><a href="#" title=""><img src="assets/images/resources/pf-gallery1.png" alt=""></a></li>
                                        <li><a href="#" title=""><img src="assets/images/resources/pf-gallery2.png" alt=""></a></li>
                                        <li><a href="#" title=""><img src="assets/images/resources/pf-gallery3.png" alt=""></a></li>
                                        <li><a href="#" title=""><img src="assets/images/resources/pf-gallery4.png" alt=""></a></li>
                                        <li><a href="#" title=""><img src="assets/images/resources/pf-gallery5.png" alt=""></a></li>
                                        <li><a href="#" title=""><img src="assets/images/resources/pf-gallery6.png" alt=""></a></li>
                                        <li><a href="#" title=""><img src="assets/images/resources/pf-gallery7.png" alt=""></a></li>
                                        <li><a href="#" title=""><img src="assets/images/resources/pf-gallery8.png" alt=""></a></li>
                                        <li><a href="#" title=""><img src="assets/images/resources/pf-gallery9.png" alt=""></a></li>
                                        <li><a href="#" title=""><img src="assets/images/resources/pf-gallery10.png" alt=""></a></li>
                                        <li><a href="#" title=""><img src="assets/images/resources/pf-gallery11.png" alt=""></a></li>
                                        <li><a href="#" title=""><img src="assets/images/resources/pf-gallery12.png" alt=""></a></li>
                                    </ul>
                                </div><!--pf-gallery end-->
                            </div><!--widget-portfolio end-->
                        </div><!--right-sidebar end-->
                    </div>
                </div>
            </div><!-- main-section-data end-->
        </div> 
    </div>
</main>