<header>
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <a routerLink="/dashboard" title=""><img src="assets/images/logo.png" alt=""></a>
            </div><!--logo end-->
            <nav>
                <ul>
                    <li>
                        <a routerLink="/dashboard" title="">
                            <span><i class="la la-home"></i></span>
                            Publications
                        </a>
                    </li>
                    <li>
                        <a routerLink="/dashboard/profil" title="">
                            <span><i class="la la-user"></i></span>
                            Mon Profil
                        </a>
                    </li>
                    <li>
                        <a routerLink="/login" title="">
                            <span><i class="la la-close"></i></span>
                            Se Déconnecter
                        </a>
                    </li>
                </ul>
            </nav><!--nav end-->
            <div class="menu-btn">
                <a href="#" title=""><i class="fa fa-bars"></i></a>
            </div><!--menu-btn end-->
            <div class="user-account">
                <div class="user-info">
                    <img src="assets/images/resources/user.png" alt="">
                    <a routerLink="/dashboard/profil">John</a>
                </div>
            </div>
        </div><!--header-data end-->
    </div>
</header>
